.container {
    max-width: 450px;
    margin: 0 auto;
    height: 65vh;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
  .red{color: red}
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
