<ngx-spinner
type="ball-scale-multiple"
>
<div style="margin-left:5px;" class="la-ball-atom">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>

</ngx-spinner>

<form (ngSubmit)="submit()" [formGroup]="loginForm" class="login_form">
    <span class="form_title">Login</span>
    
  <div>
      <div class = "input">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" name="email">
        
      </div>
      <p class="alert alert-danger" *ngIf="f.email.errors?.['required'] && f.email.touched">You need to fill this field</p>
      <p class="alert alert-danger" *ngIf="f.email.errors?.['email'] && f.email.touched">Invalid email address</p>
      <div class = "input">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" name="password">
     
      </div>
      <p class="alert alert-danger" *ngIf="f.password.errors && f.password.touched">You need to fill this field</p>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  
  <p class="register_markup">Doesn't have any account yet? Register <a routerLink="/register">here</a></p>
    <button type="submit">Login</button>
  </form>